<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java"
        arguments="-jar &quot;%HOME%\site\wwwroot\hellodropwizard-0.1.0-milestone.14.21+20180902T193508Z.jar&quot; server">
    </httpPlatform>
  </system.webServer>
</configuration>
